# Jupyter notebook
code/.ipynb_checkpoints/

# Intermediate data folders
data/scratch/

# Extra figure files
figures/fig1-tree/RAxML*
figures/fig1-tree/tree.aln
figures/fig1-tree/tree.nwk
figures/figS-sampling/*.csv
figures/figS-sampling/*.png
figures/figS-coverage

# Data folders which are too large for github
data/mapping/bamFiles
data/mapping/coverage-pooled
data/mapping/plots-*
data/sequences/

# Old versions of the MS
manuscript/OldVersions/
submissions/